*
{
  margin: 0;
  padding: 0;
  font-size: 22px;
  font-family: arial;
}

body
{
  background-color: #595a90;
  color: white;
}

/*Título e Subtítulo*/
h1, p
{
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}

/*Subtítulo*/
p
{
  font-style: italic;
}

/*Formulário*/
#form-container
{
  margin: 0 auto;
  width: 60%;
  padding: 3%;

  border-radius: 5px;
  background-color: RGBA(19,20,23,0.6)
}

/*Conjunto de label e input*/
.mini-container
{
  margin-bottom: 1em;
}

/*Inputs que precisavem quebrar a linha*/
.caixa-de-texto
{
  margin: 0 auto;
  display: block;
  width: 95%;
}

/**/
.label-estilo
{
  margin-left: 2%;
}

/*Retirando outline dos elementos*/
input, select, textarea
{
  outline: none;
}

textarea, input[type=submit]
{
  display: flex;
  margin: 0 auto;
  width: 95%;
  max-width: 95%;
  min-width: 95%;
  justify-content: center;
}

input[type=submit]
{
  background-color: #37af65;
  border: none;
  color: white;
  height: 36px;
  cursor: pointer;
}
